/*banners for cellphones*/
@media only screen and (max-width: 700px) {
  #audioPhoto {content:url("../images/catalogoAudioPhone.png");}
  #aurinearPhoto {content:url("../images/catalogoAurinearPhone.png");}
  #aurivinchaPhoto {content:url("../images/catalogoAurivinchaPhone.png");}
  #celularesPhoto {content:url("../images/catalogoCelularesPhone.png");}
  #gamerPhoto {content:url("../images/catalogoGamerPhone.png");}
  #madrePhoto {content:url("../images/catalogoMadrePhone.png");}
  #navidadPhoto {content:url("../images/catalogoNavidadPhone.png");}
  #ninoPhoto {content:url("../images/catalogoNinoPChone.png");}
  #padrePhoto {content:url("../images/catalogoPadrePhone.png");}
  #perifericosPhoto {content:url("../images/catalogoPerifericosPhone.png");}
  #smartwatchPhoto {content:url("../images/catalogoSmartwatchPhone.png");}
  #soportesPhoto {content:url("../images/catalogoSoportesPhone.png");}
}

/*banners for desktop*/
@media only screen and (min-width: 701px) {
  #audioPhoto {content:url("../images/catalogoAudioPC.png");}
  #aurinearPhoto {content:url("../images/catalogoAurinearPC.png");}
  #aurivinchaPhoto {content:url("../images/catalogoAurivinchaPC.png");}
  #celularesPhoto {content:url("../images/catalogoCelularesPC.png");}
  #gamerPhoto {content:url("../images/catalogoGamerPC.png");}
  #madrePhoto {content:url("../images/catalogoMadrePC.png");}
  #navidadPhoto {content:url("../images/catalogoNavidadPC.png");}
  #ninoPhoto {content:url("../images/catalogoNinoPC.png");}
  #padrePhoto {content:url("../images/catalogoPadrePC.png");}
  #perifericosPhoto {content:url("../images/catalogoPerifericosPC.png");}
  #smartwatchPhoto {content:url("../images/catalogoSmartwatchPC.png");}
  #soportesPhoto {content:url("../images/catalogoSoportesPC.png");}
}

.flexContainer {
  background-color: #d6eef8; 
  background-image: url("../images/background.png");
  background-size: 100% auto;
  position: relative;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 10%;
  padding: 10px 0px;
  border-radius: 15px;
  width: 80%;
  height: auto;
  background-repeat: repeat; 
}

#bannerH { 
  width: 100%;
  height: auto;
}

#bannerF { 
  width: 100%;
  height: auto;
}

.catalogueElement {
  flex-flow: column;   
  margin: 10px 40px;
  min-width: 250px;
  width: 100%; 
  height: auto;
  border: 1px solid #3b5696;
  border-radius: 8px;
  -webkit-box-shadow: 1px -1px 11px 1px rgb(0 0 0 / 54%);
}  

.catalogueElement img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

body {
  text-align: center;
  margin: 0px;
  background-image: linear-gradient(to right, #1b181c, #2d2a78, #0960a7, #0090d1, #0960a7, #2d2a78, #1b181c);
}

html {
  min-width: 375px; 
}